In [40]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [41]:
import xml.dom.minidom
xml_doc = xml.dom.minidom.parse('/home/jik19004/FilesToRun/5717/LP-Dataset/LP-characters/annotations/0000.xml')
root = xml_doc.documentElement 
print(root)

<DOM Element: annotation at 0x7f555ec74c10>

In [42]:
import xml.etree.ElementTree as ET
import os 
def parse_xml(xml_file):
    """Parses the XML file and extracts the formatted character data.

    Args:
        xml_file (str): Path to the XML file.

    Returns:
        str: A single string in the format:
             "char1char2char3..., char1, <xmin, ymin, xmax, ymax>, char2, <xmin, ymin, xmax, ymax>, ..."
    """
    tree = ET.parse(xml_file)
    root = tree.getroot()

    filename = os.path.basename(xml_file)
    
    
    data_string2 = ""
    characterCoord = []
    # Iterate through the characters
    for obj in root.iter('object'):
        character = obj.find('name').text 
        data_string2 += character 
        bndbox = obj.find('bndbox')
        xmin = int(bndbox.find('xmin').text)
        ymin = int(bndbox.find('ymin').text)
        xmax = int(bndbox.find('xmax').text)
        ymax = int(bndbox.find('ymax').text)
        
        Coord = [xmin, ymin, xmax, ymax]
        characterCoord.append(character)
        characterCoord.append(f"{'-'.join(str(x) for x in Coord)}")
        

#string_result = f"{c}<{', '.join(str(x) for x in my_list)}>"
    characterCoord.insert(0, data_string2)
    characterCoord.insert(1, filename)
    return characterCoord

In [43]:
import os 
def ExtractingParsedFiles(): 
    ### returns a pandas dataframe of parsed xml files. 
    listOfFiles = [os.path.join('/home/jik19004/FilesToRun/5717/LP-Dataset/LP-characters/annotations', file)
                   for file in os.listdir('/home/jik19004/FilesToRun/5717/LP-Dataset/LP-characters/annotations')] # get the file content. 
    listOfFiles = sorted(listOfFiles) # sort the files.
    dataframe = pd.DataFrame() # construct empty dataframe. 
    for xml_file in listOfFiles: 
        characterCoord = parse_xml(xml_file)
        length = len(characterCoord)
        characterCoord = np.array(characterCoord).reshape(1, length)
        dataframe = pd.concat([dataframe,pd.DataFrame(characterCoord)]) 
    return dataframe

dataframe = ExtractingParsedFiles()

In [45]:
dataframe.to_csv("parsedLP_Plates.csv")

In [12]:
p = np.array(parse_xml("/home/jik19004/FilesToRun/5717/LP-Dataset/LP-characters/annotations/0222.xml")).reshape(-1, len(parse_xml("/home/jik19004/FilesToRun/5717/LP-Dataset/LP-characters/annotations/0222.xml")))
print(p)
print(p.shape)
pd.DataFrame(p)

[['AA29Z999' 'A' '25-12-43-37' 'A' '44-12-60-39' '2' '68-14-86-39' '9'
  '87-14-102-38' 'Z' '113-12-129-38' '9' '140-11-154-36' '9'
  '158-11-173-35' '9' '174-10-188-35']]
(1, 17)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,AA29Z999,A,25-12-43-37,A,44-12-60-39,2,68-14-86-39,9,87-14-102-38,Z,113-12-129-38,9,140-11-154-36,9,158-11-173-35,9,174-10-188-35